.profile-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 700px;
    margin: 0 auto;
    margin-top: -20vw;
    padding: 25px;

    &_edit {
        margin-left: auto;
        margin-right: 10px;
    }
}

.mat-mdc-card-content:last-child p span {
    display: inline-block;
    margin-right: 10px;
}